@import '~antd/dist/antd.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  margin-top: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-break: break-word;
 
}

.nav-pre{
margin: 10px;
margin-top: 5%;text-align: center;

}